<div class="container mx-3">
  <div class="title-section pb-3 pt-2">
    Inicio
  </div>
  <div class="grid">
    <div class="md:col-12 lg:col-6">
      <!-- NOTICIAS -->
      <div class="grid">
        <div class="col-12">
          <latest-news-card/>
        </div>
      </div>
      <!-- MAPA -->
      <div class="grid">
        <div class="col-12">
          <near-places-card/>
        </div>
      </div>
    </div>
    <div class="md:col-12 lg:col-6">
      <!-- SIMULACION -->
      <div class="grid">
        <div class="col-12">
          <last-simulation-card/>
        </div>
      </div>
      <!-- EMPRESAS -->
      <div class="grid">
        <div class="col-12">
          <saved-companies-card/>
        </div>
      </div>
      <!-- REUNIONES -->
      <div class="grid">
        <div class="col-12">
          <upcoming-meetings-card/>
        </div>
      </div>
    </div>
  </div>
</div>
