<p-card [header]="newsItem.titulo" [subheader]="newsItem.fecha.toString()">
  <ng-template pTemplate="header">
      <img mat-card-image [src]="newsItem | newsItemImage " [alt]="newsItem.id">
  </ng-template>
  <p>
    {{ newsItem.descripcion[0].children[0].text }}
  </p>
  <p-divider></p-divider>
  <ng-template pTemplate="footer">

      <div class="flex gap-3 mt-1">
        <button pButton type="button" [routerLink]="['/news/edit', newsItem.id]" size="small">
          <div class="flex align-items-center justify-content-center w-full">
            <span class="material-icons mr-2">edit</span>
            <strong>Editar</strong>
          </div>
        </button>
        <!-- <span class="spacer"></span> -->
        <button pButton type="button" severity="secondary" [routerLink]="['/news', newsItem.id]" size="small">
          <div class="flex align-items-center justify-content-center w-full">
            <span class="material-icons mr-2">more_horiz</span>
            <strong>Más</strong>
          </div>
        </button>
      </div>
  </ng-template>
</p-card>
