<p-card>
  <ng-template pTemplate="header">
    <div class="card-title flex align-items-center justify-content-between px-3 pt-3 pb-0">
      <span>Empresas Guardadas</span>
      <p-button label="Ver más" [rounded]="true" [outlined]="true" severity="primary" size="small"/>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="empresas-guardadas grid grid-nogutter">
      <div *ngFor="let empresa of companies" class="col-12 md:col-3">
        <div class="empresa-card">
          <div class="empresa-content">
            <img [src]="empresa.logo" alt="{{ empresa.name }}" class="empresa-logo" />
            <h3 class="empresa-name">{{ empresa.name }}</h3>
            <p class="empresa-location">{{ empresa.city }} - {{ empresa.country }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-card>
