<p-card>
  <ng-template pTemplate="header">
    <div class="card-title flex align-items-center justify-content-between px-3 pt-3 pb-0">
      <span>Ultima Simulacion</span>
      <p-button label="Ver más" [rounded]="true" [outlined]="true" severity="primary" size="small"/>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="sm:col-12 md:col-6">
        <table class="cities-table">
          <tbody>
            <tr *ngFor="let city of cities">
              <td>{{ city.name }}</td>
              <td>
                <span [ngClass]=" getTimeColor(city.time) " class="time-circle">
                  {{ city.time }} h
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="sm:col-12 md:col-6 p-0">
        <!-- <div id="chart" style="width: 100%; height: 100%; min-height: 200px;"></div> -->
        <div class="chart-container">
          <p-chart type="doughnut" [data]="data" [options]="options" height="200px"></p-chart>
        </div>
      </div>
    </div>
  </ng-template>
</p-card>
