<!-- <p>map-layout-page works!</p> -->
<div class="container mx-3 container-map">
  <div class="grid h-full">
    <div class="col-12 h-full">
      <app-loading [message]="message" *ngIf="!isUserLocationReady && !isRoutePointsReady; else mapReady"></app-loading>
      <ng-template #mapReady>
        <div id="map">

          <info-place-card
            [isInfoCardOpen]="isInfoCardOpen"
            [place]="selectedPlace"
            (close)="isInfoCardOpen = false">
          </info-place-card>
        </div>


        <div class="flex align-items-start search-container">
          <search-bar></search-bar>
          <!-- <btn-clear-route></btn-clear-route> -->
        </div>
        <div class="flex align-items-start btn-location-container">
          <btn-my-location></btn-my-location>
        </div>

      </ng-template>
    </div>
  </div>
</div>
