<p-card>
  <ng-template pTemplate="header">
    <div class="card-title flex align-items-center justify-content-between px-3 pt-3 pb-0">
      <span>Próximas Reuniones</span>
      <p-button label="Ver más" [outlined]="true" severity="secondary" />
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="col-12">

        <table class="meetings-table">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>País</th>
              <th>Fecha</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reunion of meetings">
              <!-- Empresa -->
              <td class="empresa-cell">
                <span class="logo-circle">
                  <img [src]="reunion.company.logo" alt="{{ reunion.company.name }}" class="company-logo" />
                </span>
                <span>{{ reunion.company.name }}</span>
              </td>

              <!-- País -->
              <td>{{ reunion.country }}</td>

              <!-- Fecha -->
              <td>{{ reunion.date }} - {{ reunion.time }}</td>

              <!-- Estado -->
              <td>
                <span class="estado-badge">
                  <span [ngClass]="getStatusClass(reunion.status)" class="estado-circle"></span>
                  {{ reunion.status }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </ng-template>
</p-card>
