<sidebar [isOpen]="isSidebarOpen" (close)="closeSidebar()"></sidebar>
<div class="main-content" [ngClass]="mainContentClass">
  <div [ngClass]="mainContentClass" class="header px-3 pb-0">
    <p-toolbar [style]="{'height': '64px', 'box-shadow': '0px 1px 3px #888888'}">
      <button pButton class="no-background-button" type="button" icon="pi pi-bars" (click)="toggleSidebar()"></button>

      <span class="spacer"></span>
      <div class="logo-container">
        <img class="logo" src="assets/images/logo/logo.png" alt="Logo" class="logo">
        <img class="titulo" src="assets/images/logo/titulo.png" alt="Logo" class="titulo">
      </div>
      <span class="spacer"></span>



      <!-- <p-dropdown
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        (onChange)="changeLanguage()"
        optionLabel="name"
        [style]="{width: '48px'}"

        >
        <ng-template *ngIf="isBrowser" pTemplate="dropdownicon">
          <span class="material-icons">arrow_drop_down</span>
        </ng-template> -->

        <!-- Plantilla para la bandera, visible solo si es en el navegador -->
        <!-- <ng-template *ngIf="isBrowser" pTemplate="selectedItem">
          <div class="h-full flex align-items-center justify-content-center">
            <img *ngIf="selectedLanguage" [src]="selectedLanguage.flag" alt="Flag" class="flag-icon p-0" />
          </div>
        </ng-template> -->

        <!-- Bandera y nombre en el menú desplegable -->
        <!-- <ng-template pTemplate="item" let-language>
          <div class="language-option flex align-items-center justify-content-center">
            <img [src]="language.flag" alt="Flag" class="flag-icon" />
          </div>
        </ng-template>
      </p-dropdown> -->




    </p-toolbar>
  </div>

  <div class="container pl-3" style="padding-top: 88px;">
    <div class="py-2">
      <p-messages [(value)]="messages" />
    </div>
    <div class="py-2" *ngIf="showVerificationMessage">
      <p-messages [(value)]="successMessage" />
    </div>
    <div class="pt-2">
      <router-outlet />
    </div>
  </div>
  <!-- <div class="footer pl-3 pt-3 pb-0">
    <p-toolbar [style]="{'height': '128px', 'box-shadow': '0px 1px 3px #888888'}">
      <img class="logo-footer" src="assets/images/footer/logo_gore_horizontal.png" alt="Logo-gore">
      <span class="spacer"></span>
      <img class="logo-footer" src="assets/images/footer/logo_core_horizontal.png" alt="Logo-core">
      <span class="spacer"></span>
      <img class="logo-footer" src="assets/images/footer/logo_unap.png" alt="Logo-unap">
      <span class="spacer"></span>
      <img class="logo-footer" src="assets/images/footer/logo_epi.png" alt="Logo-epi">
      <span class="spacer"></span>
      <img class="logo-footer" src="assets/images/footer/logo_aii.png" alt="Logo-aii">
    </p-toolbar>
  </div> -->

  <div class="footer ml-3 mt-3">
    <p-toolbar [style]="{'box-shadow': '0px 1px 3px #888888', 'height': 'auto', 'padding': '20px'}">
      <div class="flex align-items-start justify-content-center w-full sponsors-container">

        <div class="footer-group">
          <p class="footer-title">Financia</p>
          <div class="flex items-center justify-center logos-group">
            <a href="https://www.goretarapaca.gov.cl/" target="_blank">
              <img class="logo-footer" src="assets/images/footer/logo_gore_horizontal.png" alt="Logo-gore">
            </a>
            <a href="https://www.goretarapaca.gov.cl/consejo-regional-2/" target="_blank">
              <img class="logo-footer" src="assets/images/footer/logo_core_horizontal.png" alt="Logo-core">
            </a>
          </div>
        </div>

        <div class="footer-group">
          <p class="footer-title">Ejecuta</p>
          <div class="flex items-center justify-center logos-group">
            <a href="https://www.unap.cl/" target="_blank">
              <img class="logo-footer" src="assets/images/footer/logo_unap.png" alt="Logo-unap">
            </a>
          </div>
        </div>

        <div class="footer-group">
          <p class="footer-title">Colabora</p>
          <div class="flex items-center justify-center logos-group">
            <a href="https://epi.cl/" target="_blank">
              <img class="logo-footer" src="assets/images/footer/logo_epi.png" alt="Logo-epi">
            </a>
            <a href="https://industriales.cl/sitio/" target="_blank">
              <img class="logo-footer" src="assets/images/footer/logo_aii.png" alt="Logo-aii">
            </a>
          </div>
        </div>

      </div>
    </p-toolbar>
  </div>


</div>
