.selected {
  background-color: rgba(0, 0, 0, 0.1); /* Cambia el color según tu diseño */
  color: #1976d2; /* Color del texto, si lo deseas */
}

mat-sidenav {
  width: 360px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 16px; */
}

.logo {
  max-width: 100%;
  width: auto;
  height: 30px; /* Ajusta el tamaño según sea necesario */
}

.titulo {
  max-width: 100%;
  width: auto;
  height: 30px;
  margin: 0px 0px 0px 10px
}

.sidenav-container {
  height: calc(100vh - 64px); /* Ajusta la altura del contenedor para que considere la altura de la toolbar */
  margin-top: 64px; /* Deja espacio para el toolbar */
}

