.main-content {
  transition: margin-left 0.15s ease;
}

/* Ajustar el margen cuando el sidebar está visible */
.main-content.sidebar-open {
  margin-left: 300px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  width: auto;
  height: 30px; /* Ajusta el tamaño según sea necesario */
}

.titulo {
  max-width: 100%;
  width: auto;
  height: 30px;
  margin: 0px 0px 0px 10px
}



sidebar {
  height: 100vh;
}

.navbar{
  height: 64px; box-shadow: 0px 1px 3px #888888; padding: 10px;
}

.no-background-button {
  background-color: transparent !important;
  border: none !important;
  color: inherit !important;
  cursor: pointer !important;
}

.no-background-button:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.flag-icon {
  width: 20px;
  height: auto;
}

.language-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger {
  display: none !important;
  width: 0 !important;
}
