<p-card>
  <ng-template pTemplate="header">
    <div class="card-title flex align-items-center justify-content-between px-3 pt-3 pb-0">
      <span>Noticias Destacadas</span>
      <p-button label="Ver más" [outlined]="true" severity="secondary" />
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="col-12">

        <div class="carousel-container">
          <div
            class="carousel-slide"
            *ngFor="let news of newsList; let i = index"
            [ngStyle]="{ 'transform': 'translateX(-' + currentIndex * 100 + '%)', 'background-image': 'url(' + news.image + ')' }"
          >
            <div class="overlay text-justify">
              <h3 class="m-0" style="font-weight: 500; font-size: 20px;">{{ news.title }}</h3>
              <p class="m-0">{{ news.summary }}</p>
            </div>
          </div>

          <button class="arrow-button left-arrow" pButton type="button" [rounded]="true" [text]="true" (click)="prevSlide()">
              <span class="material-icons mr-2">arrow_back_ios_new</span>
          </button>

          <button class="arrow-button right-arrow" pButton type="button" [rounded]="true" [text]="true" (click)="nextSlide()">
            <span class="material-icons mr-2">arrow_forward_ios</span>
          </button>
        </div>

        <!-- Indicadores de página -->
        <div class="indicators">
          <span
            *ngFor="let news of newsList; let i = index"
            (click)="currentIndex = i"
            [class.active]="i === currentIndex"
            class="indicator"
          ></span>
        </div>

      </div>
    </div>
  </ng-template>
</p-card>
