<mat-card>
  <mat-card-header>
    <div class="card-title flex align-items-center justify-content-between w-full">
      <span>Noticias Destacadas</span>
      <button mat-stroked-button color="primary">
        Ver más
      </button>
    </div>
  </mat-card-header>
  <div class="mat-card-content p-4">
    <div class="grid">
      <div class="col-12">

        <div class="carousel-container">
          <div
            class="carousel-slide"
            *ngFor="let news of newsList; let i = index"
            [ngStyle]="{ 'transform': 'translateX(-' + currentIndex * 100 + '%)', 'background-image': 'url(' + news.image + ')' }"
          >
            <div class="overlay">
              <h3>{{ news.title }}</h3>
              <p>{{ news.summary }}</p>
            </div>
          </div>

          <!-- <button class="arrow-button left-arrow" (click)="prevSlide()">&#8592;</button> -->
          <!-- <button class="arrow-button right-arrow" (click)="nextSlide()">&#8594;</button> -->
          <button class="arrow-button left-arrow" mat-fab color="primary" (click)="prevSlide()"><mat-icon>arrow_back_ios_new</mat-icon></button>
          <button class="arrow-button right-arrow" mat-fab color="primary" (click)="nextSlide()"><mat-icon>arrow_forward_ios</mat-icon></button>
        </div>

        <!-- Indicadores de página -->
        <div class="indicators">
          <span
            *ngFor="let news of newsList; let i = index"
            (click)="currentIndex = i"
            [class.active]="i === currentIndex"
            class="indicator"
          ></span>
        </div>

      </div>
    </div>
  </div>
</mat-card>
