<div class="latest-news-card" *ngIf="latestNews">
  <div class="card-content">
    <div class="image-container">
      <img [src]="getImageUrl(latestNews)" [alt]="latestNews.title">
    </div>
    <div class="text-content">
      <h2>{{ latestNews.title }}</h2>
      <div class="meta-info">
        <span class="date">
          <i class="pi pi-calendar"></i>
          {{ latestNews.createdAt | date:'longDate':'GMT-3' }}
        </span>
        <span class="author" *ngIf="latestNews.author">
          <i class="pi pi-user"></i>
          {{ latestNews.author.username }}
        </span>
      </div>
      <p class="summary">{{ latestNews.summary }}</p>
      <div class="tags" *ngIf="latestNews.tags?.length">
        <span class="tag" *ngFor="let tag of latestNews.tags">{{ tag.name }}</span>
      </div>
      <button pButton label="Leer más" (click)="navigateToNews()"></button>
    </div>
  </div>
</div>
