.card-title span{
  font-weight: bold;
  font-size: 18px;
}

.news-content {
  padding: 20px;
  position: relative; /* Para posicionar el overlay */
  height: 100%; /* Para que ocupe toda la altura del slide */
}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  border-radius: 12px;
}

.carousel-slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 327px;
}

.overlay {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 10px 0px 10px;
  text-align: center;
}

.arrow-button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  padding: 10px;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.indicators {
  text-align: center;
  position: relative; /* Para asegurar que esté en la parte inferior */
  z-index: 2; /* Asegura que esté por encima del contenido */
  background: rgba(0, 0, 0, 0.8);

  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #007bff; /* Color del indicador activo */
}

.news-title{
  font-weight: bold;
  font-size: 18px;
}

.news-summary{
  font-size: 14px;
}

:host ::ng-deep .p-button{
  font-size:14px;
}
