@import "primeng/resources/themes/aura-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #ecf0f1;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer{
  flex: 1 1 auto;
}
